/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');

$font-family-sans-serif: Manrope, Arial, sans-serif;
$headings-font-family: 'Times New Roman', Arial, sans-serif;

// colours
$white: #FAFAFA;
$black: #1B1B1B;
$gold: #C59A00;
$blue: #0078D4;

$body-color: $black;
$body-bg: $white;
$navbar-bg: $blue;
$primary: $blue;

/*-- scss:rules --*/

iframe.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
  }

.ar16x9 {
  aspect-ratio: 16 / 9;  
}

.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}